@font-face {
    font-family: regular;
    src: url(./fonts/NotoSansJP-Regular.otf);
}

.info {
    display: flex;
    width: 226px;
    height: 43px;
    background-color: #fff;
    padding: 14px 25px;
}

.info:hover {
    background-color: #f2f2f2;
}

.icon {
    color: #606060;
    font-size: 18px;
    margin-right: 23px;
    margin-left: 0px;
    margin-top: 3px;
}

.fire-icon {
    color: #606060;
    font-size: 18px;
    margin-right: 28px;
    margin-left: 2px;
    margin-top: 2px;
}

.icon3 {
    color: #606060;
    font-size: 18px;
    margin-right: 26px;
    margin-left: 0px;
    margin-top: 2px;
}

.name {
    color: #606060;
    font-family: regular;
    text-transform: capitalize;
    font-size: 14px;
}