@font-face {
    font-family: regular;
    src: url(../fonts/NotoSansJP-Regular.otf);
}

.theme {
    width: fit-content;
    height: fit-content;
    color: #606060;
    background-color: #F2F2F2;
    border-radius: 19px;
    padding: 5px 13px 6px 13px;
    font-size: 13px;
    font-family: regular;
    transition-duration: .5s;
    margin-right: 11px;
    overflow-x: hidden;
    border: 1px solid #D9D9D9;
}

.theme:hover {
    background-color: #E5E5E5;
}